.cell-list-item {
  position: relative;
  width: calc(100% - 20px);
  margin: 20px 10px;
}

.action-bar-wrapper {
  height: 30px;
  width: 100%;
  background-color: #37414b;
  cursor: grab;
}

.cell-list-item-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cell-list-item-container.draggable {
  position: fixed;
  width: calc(100% - 50px);
  /* width: calc(100% - 70px); */
  z-index: 1100;
  margin-top: 0;
  margin-bottom: 0;
}

.cell-list-item-container.draggable .action-bar-wrapper {
  cursor: grabbing;
}

.cell-list-item-container:not(.draggable) {
  /* transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; */
}

.cell-list-item-container_moved:not(.draggable) {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
